BasedOnStyle: Google
---
Language: Cpp
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseInsensitive
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma

AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 150