#BasedOnStyle: Google
#---
#Language: Cpp
#AllowShortFunctionsOnASingleLine: None
#AllowShortIfStatementsOnASingleLine: false
#AllowShortLambdasOnASingleLine: All
#DerivePointerAlignment: false
#PointerAlignment: Left
#SortIncludes: CaseInsensitive
#PackConstructorInitializers: CurrentLine
#BreakConstructorInitializers: BeforeColon
#BreakInheritanceList: AfterComma
##BreakAfterAttributes: Always # need clang16

AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 150